
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px 1px #cecece;
    transition: all .25s;
    padding: 20px;
    margin: 10px 10px 60px;
}

.product:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    opacity: .9;
}

.product-name {
    font-size: 24px;
    padding: 10px;
}

.price {
    font-size: 28px;
    text-align: center;
}

